* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;
    
}    
header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#instagram {
    display: flex;
    justify-content: center;
    margin-;
}
.tarjeta-instagram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 590px;
    width: 400px;
    background-color: aliceblue; 
    border-radius: 40px;   
}
.tarjeta-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    cursor: pointer;
}
.titulos-header h2, h3{
    font-size: 12px;
    margin-right: 230px;
}
.tarjeta-header {
    height: 50px; 
}
.html-header {
    margin-left: 50px;
}
.tarjeta-foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.buton-header div{
    background-color: black;
    border-radius: 100px;
    height: 7px;
    width: 7px;
    margin-right: 40px;
}
.tarjeta-instagram img {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 30px;
}
.tarjeta-footer {
    padding: 15px;
    text-align: justify;
    gap: 15px;
}
.tarjeta-footer .likes-footer{
    margin-bottom: 15px;
}
.iconos-footer {
    display: flex;
    width: 30px;
    height: 30px;
    display: flex;
    gap: 15px;
    padding: 15px;
}
 .bookmark  {
    margin-right: auto;
    display: flex;
    margin-left: 251px;
}
